<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="/common/common::head">
<meta charset="UTF-8">
<title>전적 검색결과</title>
</head>
<body>
	<!-- header -->
	<th:block th:insert="/common/common::header"></th:block>
	
	<!-- 소환사 정보 -->
	<th:block th:insert="/riot/summonerInfo::summonerInfo"></th:block>
	
	<!-- 게임 데이터 -->
	<th:block th:insert="/riot/matchData::matchData"></th:block>
	
	<!-- footer -->
	<th:block th:insert="/common/common::footer"></th:block>
</body>
</html>