<html xmlns:th="http://www.thymeleaf.org">

		<section th:fragment="matchData" class="gameDetail">
			<div id="myGameData" th:each="result : ${result}"  th:style="${result.win == 'true' ? 'background-color : #22c4d560' : 'background-color : #e5133c40'}"> 
			<ul class="gameType"> <!--게임타입-->
				<li th:text="${result.queueId}" class="queueId"></li> <!-- 큐타입(솔랭,자랭,일겜...)-->
				<li th:text="${result.gameStartTimestamp}" class="gameEndTimeStamp"></li> <!-- 게임 시작 시간  -->
				<li th:if="${result.win} == 'true'" style="color: #1a78ae;">승리</li> <!-- 승/패 여부 -->
				<li th:if="${result.win} == 'false'" style="color: #c6443e;">패배</li>
				<li th:text="${result.gameDuration}" class="gameDuration"></li> <!-- 게임 진행 시간 -->
			</ul>
			<ul class="inline-flex imageInfo">
				<li class="champion">
					<img th:src="'https://ddragon.leagueoflegends.com/cdn/12.15.1/img/champion/'+${result.championName}+'.png'">
				</li>
				<li class="spell">
					<img th:src="'https://ddragon.leagueoflegends.com/cdn/12.15.1/img/spell/'+${result.summoner1Id}" th:onerror="this.style.display='none';">
					<div th:if="${result.summoner1Id} == 'no.png'" style="display:inline-block; width: 40px; height:40px; background-color:#333333;"></div>
					<img th:src="'https://ddragon.leagueoflegends.com/cdn/12.15.1/img/spell/'+${result.summoner2Id}" th:onerror="this.style.display='none';">
					<div th:if="${result.summoner2Id} == 'no.png'" style="display:inline-block; width: 40px; height:40px; background-color:#333333;"></div>
				</li>
				<li class="rune">
					<img th:src="'https://ddragon.leagueoflegends.com/cdn/img/'+${result.mainRuneImg}" style="background-color: black; border-radius: 20px;">
					<img th:src="'https://ddragon.leagueoflegends.com/cdn/img/'+${result.subRuneImg}">
				</li>
			</ul>
			<ul class="kda">
				<li>
					<span th:text="${result.kills}" class="kill"></span>
					<span> / </span>
					<span th:text="${result.deaths}" class="death"></span>
					<span> / </span>
					<span th:text="${result.assists}" class="assist" ></span><br>
					<span th:text="'평점 ' + ${#numbers.formatDecimal((result.kills + result.assists)* 1.0 / result.deaths, 1, 2)}" class="aver"></span>
				</li>
			</ul>
			<ul style="color:#555e5e; font-size: 18px;">
				<li th:text="'레벨'+${result.champLevel}" style="margin-bottom: 7px; font-size:20px; font-weight: bold"></li><br>
				<li style="margin-bottom: 7px; font-size:20px; font-weight: bold">
					<span th:text="${result.totalMinionsKilled}+${result.neutralMinionsKilled}"></span>
					<span>CS</span>
				</li>
			</ul>
			<ul class="item-image">
				<li>
					<div>
						<img th:src="'https://ddragon.leagueoflegends.com/cdn/12.15.1/img/item/'+${result.item0}+'.png'" th:onerror="this.style.display='none';">
					</div>
					<div>
						<img th:src="'https://ddragon.leagueoflegends.com/cdn/12.15.1/img/item/'+${result.item1}+'.png'" th:onerror="this.style.display='none';">
					</div>
					<div>
						<img th:src="'https://ddragon.leagueoflegends.com/cdn/12.15.1/img/item/'+${result.item2}+'.png'" th:onerror="this.style.display='none';">
					</div>
					<div>
						<img th:src="'https://ddragon.leagueoflegends.com/cdn/12.15.1/img/item/'+${result.item6}+'.png'" th:onerror="this.style.display='none';">
					</div>
				</li>
				<li style="padding-right: 35px;">
					<div>
						<img th:src="'https://ddragon.leagueoflegends.com/cdn/12.15.1/img/item/'+${result.item3}+'.png'" th:onerror="this.style.display='none';">
					</div>
					<div>
						<img th:src="'https://ddragon.leagueoflegends.com/cdn/12.15.1/img/item/'+${result.item4}+'.png'" th:onerror="this.style.display='none';">
					</div>
					<div>
						<img th:src="'https://ddragon.leagueoflegends.com/cdn/12.15.1/img/item/'+${result.item5}+'.png'" th:onerror="this.style.display='none';">
					</div>
				</li>
				<li class="gold-ward" th:text="'골드 '+${result.goldEarned}"></li>
				<li class="gold-ward" th:text="'제어와드 '+${result.visionWardsBoughtInGame}"></li>
			</ul>
			<input id="matchId" type="hidden" th:value="${result.matchId}">
			<button class="closeinfo"><</button>
			<button class="anyinfo">></button>
		</div>
		<button id="nextMatch" value = "1">더 보기</button>
	</section>