<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="/common/common::head">
<meta charset="UTF-8">
<title>검색</title>
<link rel="stylesheet" type="text/css" href="/css/search.css">
</head>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script> -->
<!-- <script type="text/javascript">
 	$(function(){
 		
		var green = '<span id="green" style="color: green;">비밀번호가 일치합니다</span>'
		var red = '<span id="red" style="color: red;">비밀번호가 일치하지 않습니다.</span>'
		
		$(".passwordCheck").keyup(function(){ // keyup 함수 -> passwordCheck 클래스가 타이핑 됐을 때 
			if($(".password").val() == $(".passwordCheck").val()){  //password 클래스와 passwordCheck 클래스의 값이 같다면 // val()이 value임 
				
				$(".submit").removeAttr('disabled'); // reomveAttr -> 속성 제거 
				$("#green").remove();
				$("#red").remove();
				$(".loginBox").append(green); //append -> loginBox 클래스 다음에 값 추가 
			}else{
				$(".submit").attr('disabled','disabled'); //attr -> 속성추가  ex) $(".password").attr('placeholder', '비번');
				$("#green").remove();
				$("#red").remove();
				$(".loginBox").append(red);
			} 
		})
	
	}) 
</script> -->
<script type="text/javascript">
	$(function() {
		if ($("#win").val() == "true") {
			$("#text").append("");
		}

	})
</script>
<!-- <body>
	<header>
		<div>header</div>
	</header>
	<section>
		<input id="win" type="hidden" value="true"> <span id="text"></span>
		<div>
			<form action="/search" method="get">
				<input class="search_box" type="text" placeholder="소환사명" name="name">
				<input class="search_submit" type="submit">
			</form>
		</div>
	</section>
	<footer>
		<div>footer</div>
	</footer>
</body> -->
<body style="background-color: black;">
	<th:block th:insert="/common/common::header"></th:block>
	<main style="margin: 300px 0 300px 0">
		<form action="/search" method="get">
			<input type="text" name="name" placeholder="소환사명을 입력해주세요">
			<input type="hidden" name="no" value =0>
			<button type="submit">🔍</button>
		</form>
	</main>
	<th:block th:insert="/common/common::footer"></th:block>
</body>
</html>